@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.fondo {
  background-color: rgb(224, 242, 241);
  border-radius: 20px 20px 0px 0px !important;
}
