.informacion-inicio{
    text-align: center;
    min-height: 88.5vh;
    display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta-inicio{
    border-radius: 30px 30px 30px 30px !important;
}

.card-header{
    font-family:'Times New Roman';
    color: rgb(59, 40, 129);
}

.card-body{
    font-family:'Times New Roman' !important;
}

.contenedor-inicio {
    background: linear-gradient(
        to right, rgb(226, 219, 219),
        rgb(178, 223, 219), rgb(143, 204, 228)  );
        background-size: 400% 400%;
        animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.mensaje-bienvenida{
    color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}